<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}HRIS Reporter{% endblock %}</title>
    <!-- Use dynamic url_for so flask maps to static path correctly -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <a href="/">
            <h1>✨ HRsoft Custom Analytics</h1>
        </a>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

</body>
</html>
